
/* Change text color for light themed button */
.color--white { color: #fff !important; }

/* helpers */
.ma-a { margin: auto; }
a { text-decoration: none; }
html { overflow-y: auto; }

/* route transitions */
nav { z-index: 6; } /* page slides under nav bar */
.content, footer { z-index: 1; }

/* page transitions */
.slide-enter-active, .slide-leave-active { transition: all 1s; }
.slide-enter { opacity: 0; }
.slide-leave-to { transform: translateY(-100%); }

/* fade */
.fade-enter-active, .fade-leave-active { transition: opacity .5s; }
.fade-enter, .fade-leave-to { opacity: 0; }

/* route active classes */
.active { background-color: rgba(0,0,0,0.17) !important; }
li.active > a { color: #1976d2 !important; }

/* problems */

/* page background */
.content--wrap::before {
  content: "";
  background-image: url('./assets/water.jpg');
  background-size: cover;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 0;   
}

.content--wrap { align-items: start; }
.flex img { align-self: center; }
.flex img.shrink-to-fit { max-width: 100%; }
.answer-block--background { background-color: rgba(256,256,256,0.8); }

/* section intros (stepper) */

.card__media { height: 150px !important; }
.card { overflow-y: auto; }

@media screen and (min-height: 700px) {
  .card__media { height: 200px !important; }
}

/* tables */

table {
  border-collapse: collapse;
  border: 1px solid #ccc;
  width: 100%;
}

tr:nth-child(even) {
  background-color: rgba(0,0,0,0.17);
}

td {
  padding: 0.5rem;
  font-size: 0.95rem;
}

tfoot {
  font-size: 0.85rem;
}

/* footer */
footer { color: white; }

/* responsive */
@media screen and (min-width: 600px) {
  td {
    padding: 0.5rem 1.0rem;
    font-size: 1.0rem;
  }
}

@media screen and (max-width: 600px) {
  .display-1 { font-size: 2.125rem !important; }
  .title { font-size: 1.25rem !important; }
  .subheading { font-size: 0.875rem !important; }
  .dialog--active { width: 60%; }
  .btn__content { white-space: inherit; max-width: 100%; }
  .mobile--reduce-text-075 .btn__content  { font-size: 0.75rem; line-height: 0.75rem; }
  .mobile--reduce-text-085 .btn__content  { font-size: 0.85rem; line-height: 0.85rem; }
  .mobile--reduce-text-095 .btn__content  { font-size: 0.95rem; line-height: 0.95rem; }
  .alert div { font-size: 1.2rem; }
  .flex img.mobile--shrink-to-fit { max-width: 100%; }
}

.hint--dialog-component { width: 90%; }
.hint--dialog-text { width: 40%; }
@media screen and (max-width:960px) {
  .hint--dialog-component, .hint--dialog-text { width: 75%; }
}